body,html{
    /* position: relative;
    margin:0;
    padding:0;
    box-sizing: border-box;
     */
     margin:0;
     padding:0;
     font-family: 'Press Start 2P', cursive;
     font-size:16px;
     scroll-behavior: smooth;
     width: 100vw;
}
.display-none{
    display:none;
}
.display-block{
    display:block;
}
.display-flex{
    display:flex;
}
/* FIXED NAVBAR FOR DEKSTOPS */
.navDesktop{
    width:7%;
    height: 30%;
    position:fixed;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    z-index:10;
    right: 0%;
    opacity:0.9;
    top: 55%;
    font-size: 0.85em;
    border-left: 1px solid rgba(97, 96, 96, 0.479);
    transition: .4s cubic-bezier(0.215, 0.610, 0.355, 1) all;
    
}
ul,li{
    list-style-type:none;
    
}
.navDesktop__item--circle{
width: 20px;
height:20px;
border-radius: 50%;
background-color: white;
position: relative;
    left: -7px;
    z-index:20;
    border:1px solid rgba(53, 53, 53, 0.178);
    box-shadow: -3px 2px 10px rgba(116, 116, 116, 0.425);
    transition: cubic-bezier(0.86, 0, 0.07, 1) 0.4s all;
}
li > a{
    position:relative;
    list-style-type:none;
    text-decoration: none;
    color: black;
}
.navDesktop:hover{
    opacity: 1;
}
.navDesktop__item > a:focus  { 
    background-color: #2B32B2;
    box-shadow: 0px 2px 10px rgba(95, 94, 94, 0.863);
    opacity: 1;
}
.navDesktop__item--link{
width: 85%;
height: 100%;
}
.navDesktop__item{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
    margin-left: -47%;
    color: white;
    cursor: pointer;
}
.header{
    width: 100vw;
    height:100vh;
    box-sizing: border-box;
}
/* NAVBAR FOR MOBILES */
.nav{
    position:fixed;
    width: 250px;
    height: 50vh;
    background: rgba(0, 0, 0, 0.664);
    right: -400px;
    float: right;
    transition: right 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    color: white;
    font-size:0.8em;
    


}
.nav__block{
    width: 100%;
    height: calc(100% / 6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s all cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;
}
.nav__block:hover{
    background-color: rgba(0, 0, 0, 0.438);
    box-shadow: 0px 5px 10px rgba(41, 41, 41, 0.869);
}
.hamburger__icon{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0px;
    right: 0px;
    background: url("./img/hamburger.png");
    background-size:contain;
    cursor: pointer;
    transition: right 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 100;
    
}
.close{
    background: url("./img/close.png");
    background-size:contain;
    width: 50px;
    height: 50px;
}
.nav__icon--aboutme{
    background: url("./img/about-me.png");
    background-size: 90% 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height:100%;
}
.nav__icon--skills{
    background: url("./img/ideaspng.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height:100%;
}
.nav__icon--websites{
    background: url("./img/witrynypng.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height:80%;
}
.nav__icon--apps{
    background: url("./img/aplikacjepng.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height:80%;
}
.nav__icon--contact{
    background: url("./img/kontaktpng.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height:80%;
}
.nav--name{
    width: 60%;
    height:25%;
    text-align: center;
}

/* WELCOME SCREEN */
.ws{
    box-sizing: border-box;
    
    /* top: 5vw; */
    width: 100%;
    right:3%;
    height: 70vh;
    

    -webkit-box-shadow: inset -5px 48px 90px 27px rgba(0,0,0,0.147);
-moz-box-shadow: inset -5px 48px 90px 27px rgba(0,0,00.147);
box-shadow: inset -5px 48px 90px 27px rgba(0, 0, 0, 0.147);
background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
}
.ws__header{
    font-family: 'Press Start 2P', cursive;
    position:relative;
    width: 90%;
    height: 50%;
    top: 19%;
    left: -20%;
    font-size:3em;
    color: white;
    /* text-align: center; */
    line-height:1.5em;
    text-shadow: 0px 3px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ws__header--blink{
    position: absolute;
    width: 5%;
    height:70%;
    background-color: white;
    right: 5%;
    top: 0;
    animation: blink;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    
}
.ws__header--text{
    height: 80%;
    width: 50%;
    text-align:center;
    animation: fadeOff;
    animation-duration: 1.5s;
    /* animation-delay: .5s; */
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
}
@keyframes fadeOff{
    from{opacity: 1 }
    to{ opacity: 0 }
}
@keyframes blink{
    from{opacity: 1 }
    to{ opacity: 0 }
}
.ws--welcomeShadow{
    width: 101%;
    left: -1%;
    top: 55%;
    height: 25vh;
    z-index: 5;
    border-right: 2px solid white;
    overflow: hidden;
    position: absolute;
    background-color: white;
    transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
-webkit-transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
-moz-transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
-o-transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
-ms-transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
box-shadow: -8px 20px 30px rgba(216, 216, 216, 0.39);
}
.welcome__shadow:after{
    content:"";
    position:absolute;
    top:0;
    right:99%;
    width:2%;
    background-color: white;
    height:100%;

}
/* ABOUT ME */
.am{
    width: 85%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-basis: row;
    justify-content: space-around;
   
}
.am--img{
    width: 30%;
    height:90%;
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);

    box-shadow: 2px 5px 20px rgba(109, 109, 109, 0.637);
}
#about-me > div.am--img > img{
    width:80%;
    height:100%;
    position: relative;
    top: 20%;
    left:10%;
   
}
.am--img:after{

}
.am__desc{
    top:20%;
    position:relative;
    width: 65%;
    height: 60%;
    border: 1px solid #9fa8a3;
    border-bottom:0;
    border-left:0;
    border-right:0;
    /* box-shadow: 2px 5px 20px rgba(109, 109, 109, 0.253); */
    
}
.am__desc > p{
    font-family: 'Mina', sans-serif;
    text-justify: auto;
    padding:3%;
    width: 90%;
    height: 90%;
    top: -15%;
    left:2%;
    position: relative;
    font-size: 1.4em;
}
.am__desc--line1{
    display:inline-block;
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
    left: 30%;
    position:relative;
    background-color: white;
    z-index:3;
    top:-50px;
    padding:30px;
    text-align: center;
    
}
/* SEKCJA WITRYN */
.web{
    
    width: 85%;
    height: 100vh;
    box-sizing: border-box;
    
    position: relative;
    display:flex;
    z-index:2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    

}
.web:after{
    content: "";
    box-shadow: 2px 5px 20px rgba(109, 109, 109, 0.253);
    
    position: absolute;
    z-index: -1;
    top: 10px;
    
    width: 98%;
    left: 5%;
    width: 94%;
    height: 98vh;
    
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.web__header,.app__header,.skills__header,.contact__header{
        top:40%;
        position:relative;
        width: 65%;
        height: 60%;
        
        
}
.web__header--span{
    display: inline-block;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    left: 56%;
    position: relative;
    background-color: white;
    z-index: 3;
    top: 55px;
    padding: 30px;
    text-align: center;
}
.app__header--span,.skills__header--span,.contact__header--span{
    display: inline-block;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    left:56%;
    position: relative;
    background-color: white;
    z-index: 3;
    top: 25px;
    padding: 20px;
    text-align: center;
}
.app__header--span{
    padding: 10px;
    top: 10px;
}
.contact__header--span{
    top: 105px;
}
.web__website{
    top: 5%;
    font-family: 'Mina', sans-serif;
    width: 47%;
    height: 23%;
    left:3%;
    background-color: white;
    position: relative;
    
    border:10px solid rgba(255, 255, 255, 0.582);
    cursor: pointer;
    margin: 10px;
    }
    .web__website__image{
        width: 50%;
        height:70%;
        position:absolute;
        top: -15%;
        left: -5%;
        
        box-shadow: 10px 15px 20px rgba(95, 95, 95, 0.418);
    }
    .web__website__description{
        width: 50%;
        height:60%;
        position: relative;
        left: 50%;
        bottom: -15%;
        
        font-size: 0.9rem;
        line-height: 1.1rem;
        color: rgba(51, 51, 51, 0.932);
    }
    .web__website__techologies{
        width: 30%;
        height:20%;
        position: relative;
        left: 0%;
        bottom: -2%;
        
        font-weight: 300;
        font-size:0.9rem;
        color: rgba(75, 75, 75, 0.747);
    }
    .web__website__links{
        width: 30%;
        height:20%;
        position: relative;
        left: 60%;
        bottom: 10%;
        
        text-align:center;
    }
    .web__website__links > a{
        text-decoration: none;
        font-size:1.3rem;
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        color: rgba(75, 75, 75, 0.747);

    }
    .web__website__image--webimage1{
        background: url("./img/kasia-salon.png");
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
    } 
    .web__website__image--webimage2{
        background: url("./img/maliwojownicy.png");
        background-size:100% 100%;
        background-position:center;
        background-repeat: no-repeat;
    }
    .web__website__image--webimage3{
        background: url("./img/lapkoczyn.png");
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
    }
    

/* SEKCJA APEK */
.app{
    
    width: 85%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display:flex;
    z-index:2;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid white;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);

    }
.app:after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 6%;
    width: 93%;
    height: 96vh;
    -webkit-clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0% 100%);
clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0% 100%);
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .app__application--image1{
        width: 95%;
        height: 55%;
        left: -5%;
        top: -5%;
        position: relative;
        z-index:30;
        background:url("./img/pogodaimg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    box-shadow: 20px 20px 20px rgba(94, 90, 90, 0.233);
    }
    .app__application--image2{
        width: 95%;
        height: 55%;
        left: -5%;
        top: -5%;
        position: relative;
        
        background:url("./img/calendarimg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    box-shadow: 20px 20px 20px rgba(94, 90, 90, 0.233);
    }
    .app__application--image3{
        width: 95%;
        height: 55%;
        left: -5%;
        top: -5%;
        position: relative;
        
        background:url("./img/editorimg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    box-shadow: 20px 20px 20px rgba(94, 90, 90, 0.233);
    }
    .app__application--image4{
        width: 55%;
        height: 55%;
        left: -5%;
        top: -5%;
        position: relative;
        z-index:30;
        background:url("./img/muzykaimg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    box-shadow: 20px 20px 20px rgba(94, 90, 90, 0.233);
    }
    
    .app__application__desc{
        width: 95%;
        height: 35%;
        
        top: 55%;
        position:relative;
        left: 2.5%;
    }
    .app__application__desc--links--live > a,.app__application__desc--links--github  > a{
        text-decoration: none;
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        color: rgba(75, 75, 75, 0.747);
    }
    .app__application__desc--links--live > a:hover,.app__application__desc--links--github  > a:hover{
        font-weight:500;
        text-shadow:0px 2px 1px rgba(0, 0, 0, 0.151);
    }
    hr{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(82, 81, 81, 0.425), rgba(0, 0, 0, 0));
    }
    .app__application__desc--techologies{
        width: 40%;
        height: 30%;
        line-height: 1rem;
        color: rgba(75, 75, 75, 0.747);
        position:relative;
        top:0;
        left:0;
        
        font-size:0.9rem;
        font-family: 'Mina', sans-serif;

    }
    .app__application__desc--links{
        width: 50%;
        height: 30%;
        line-height: 1rem;
        color: rgba(75, 75, 75, 0.747);
        position:relative;
        top: -92%;
        right: -50%;
        text-align: center;
        
        font-size:0.8rem;
        font-family: 'Mina', sans-serif;
    }
   
    .app__application__desc--links--live{
        width:50%;
        height:100%;
        font-size:1.5rem;
        float:left;
    }
    .app__application__desc--links--github{
        width:50%;
        height:100%;
        font-size:1.5rem;
        float:left;
    }
    
    
    .app__application__desc--describe{
        width: 80%;
        height: 60%;
        line-height: 1rem;
        color: rgba(43, 43, 43, 0.945);
        position:relative;
        top:5%;
        left:10%;
        font-weight: 500;
        font-size:0.8rem;
        font-family: 'Mina', sans-serif;

    }
.app__application{
    left:3%;
    width: 35%;
    height: 45%;
    margin: 5px;
    background-color: white;
    position: relative;
    
    
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    
    cursor: pointer;
}

/* Sekcja Skilli */
.skills{
    margin-left:5%;
    width: 79%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);

z-index:2;
}

.skills__row{
    margin-top:5%;
width: 70%;
height: 20%;
/* border: 1px solid rgba(99, 99, 99, 0.555); */
/* background-color: white; */


}
.skills__row--header{
position:relative;
}
.skills__row--header > span {
    position:relative;
    background-color: white;
    padding: 20px;
    left: 10%;
    top: -33px;
}
.skills__row__moderate__icon{
    float: left;
width: calc(100% /6);
margin-left: 12.5%;
height: 80%;

}
.skills__row__learning__icon {
    float: left;
width: calc(100% /6);
margin-left: 22%;
height: 80%;

}
.skills__row__good__icon{
    float: left;
width: calc(100% / 6);
margin-left: 2.5%;
height: 80%;

}
.skills__row__good__icon--js{
background:url("./img/js-icon.png");
background-size: contain;
background-position:center;
background-repeat: no-repeat;
}
.skills__row__good__icon--html{
    background:url("./img/html-icon.png");
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    }
    .skills__row__good__icon--css{
        background:url("./img/css-icon.png");
        background-size: contain;
        background-position:center;
        background-repeat: no-repeat;
        }
        .skills__row__good__icon--git{
            background:url("./img/git-icon.png");
            background-size: contain;
            background-position:center;
            background-repeat: no-repeat;
            }
            .skills__row__good__icon--bootstrap{
                background:url("./img/bootstrap-icon.png");
                background-size: contain;
                background-position:center;
                background-repeat: no-repeat;
                }
                .skills__row__moderate__icon--photoshop{
                    background:url("./img/photoshop-icon.png");
                    background-size: contain;
                    background-position:center;
                    background-repeat: no-repeat;
                }
                .skills__row__moderate__icon--sass{
                    background:url("./img/sass-icon.png");
                    background-size: 100% 80%;
                    background-position:center;
                    background-repeat: no-repeat;
                }
                .skills__row__moderate__icon--jquery{
                    background:url("./img/jquery-icon.png");
                    background-size: 80% 80%;
                    background-position:center;
                    background-repeat: no-repeat;
                }
                .skills__row__learning__icon--nodejs{
                    background:url("./img/nodejs-icon.png");
                    background-size: 80% 80%;
                    background-position:center;
                    background-repeat: no-repeat;
                }
                .skills__row__learning__icon--react{
                    background:url("./img/react-icon.png");
                    background-size: 80% 80%;
                    background-position:center;
                    background-repeat: no-repeat;
                }
/* Sekcja kontaktu */
.contact{
    margin-top: 5%;
    width: 85%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.contact:after{
    width: 71%;
    margin-left:9%;
    height: 100%;
    content:"";
    position:absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 48% 100%, 0 90%);
clip-path: polygon(0 0, 100% 0, 100% 90%, 48% 100%, 0 90%);
background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





}
.contact__form{
    position:relative;
    z-index:10;
    left: 17%;
    width: 70%;
    height: 50%;
    
    top:2vh;
    

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form > p{
    width: 40%;
    position:relative;
    left:30%;
    color:white;
}
.contact__form--email{
width: 40%;
position:relative;
left:30%;
border-bottom:2px solid rgba(255, 255, 255, 0.205);
border-top: 0;
border-left: 0;
border-right: 0;
background-color: transparent;

}
.contact__form--email{
    width: 40%;
    font-size:1rem;
    position:relative;
    left:30%;
    border-bottom:2px solid rgba(255, 255, 255, 0.205);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    transition: .2s ease-in all;
    color: white;
}
.contact__form--email:focus { 
   
    background-color: rgba(255, 255, 255, 0.384);
}
.contact__form--textarea{
    width: 40%;
    height: 100px;
    font-size:1.5rem;
    position:relative;
    left:30%;
    border-bottom:2px solid rgba(255, 255, 255, 0.205);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    transition: .2s ease-in all;
    font-size:0.8rem;
    color:white;
}
.contact__form--textarea:focus { 
   
    background-color: rgba(255, 255, 255, 0.384);
}
.contact__form--submit{
    width: 20%;
    font-size:1rem;
    padding:10px;
    position:relative;
    left:40%;
    border:2px solid rgba(255, 255, 255, 0.205);
    /* border-top: 0;
    border-left: 0;
    border-right: 0; */
    background-color: transparent;
    transition: .2s ease-in all;
    cursor: pointer;
    top: 20px;
    font-family: 'Press Start 2P', cursive;
    color:white;
}
.contact__links{
    position:relative;
    z-index:10;
    left: 17%;
    width: 70%;
    height: 20%;
    
   
    display:flex;
    flex-direction: row;
    justify-content: center;
    

}
.contact__links--github{
width:30%;
height:100%;
text-align: center;

}
.contact__links--github > a{
    color: white;
    text-decoration: none;
    font-size:2rem;
}
.contact__links--email > a{
    color: white;
    text-decoration: none;
    line-height: 2em;
}
.contact__links--email{
    width:70%;
    height:100%;
    text-align: center;
    
    }





    /* DLa wszystkich wiekszych niz 750 */
@media screen and (min-width: 750px){
    .hamburger__icon{
        display: none;
        
    }
    .nav{
        display:none;
    }
}
/* Dla wszystkich Mniejszych niz 750 */
@media only screen and (max-width: 750px){

    .navDesktop{
        display: none;
    }
}
/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    html,body{
        width: 100vh;;
    }
    .am__desc--line1{
        font-size:1rem;
    }
    .web__header--span,.app__header--span,.skills__header--span, .contact__header--span{
        font-size:1rem;
        left:27%;
        padding:10px;
    }
    .ws{
        width:100%;
    }
    .hamburger__icon {
        
        right: 22%;
}
.ws--welcomeShadow {
    width: 100vh;
}
.ws__header--text{
    width: 100%;
    position: relative;
    left: 31%;
}
.am {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.am__desc {
    top: 13%;
}
.am__desc > p{
    font-size: 1rem;
    top: -29%;
    line-height: 1.3rem;

}
 
/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
    /* insert styles here */
}
 
/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
    /* insert styles here */
}
 
/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    /* insert styles here */
}
 
/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
    /* insert styles here */
}
 
/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
}
 
/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
    /* insert styles here */
}
 
/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* insert styles here */
}
 
/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* insert styles here */
}
 
/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* insert styles here */
}
 
/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
    /* insert styles here */
}
 
/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
}
 
/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    /* insert styles here */
   
 
/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
    /* insert styles here */
}
 
/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {
    /* insert styles here */
}
 
/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
    /* insert styles here */
}
 
/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
    /* insert styles here */
}
 
/* (1600x900) HD+ Display */
@media  screen and (max-width: 1600px) {
    /* insert styles here */
}