body,html{
    /* position: relative;
    margin:0;
    padding:0;
    box-sizing: border-box;
     */
     margin:0;
     padding:0;
     font-family: 'Press Start 2P', cursive;
     font-size:16px;
}
.display-none{
    display:none;
}
.display-block{
    display:block;
}
.display-flex{
    display:flex;
}
/* FIXED NAVBAR FOR DEKSTOPS */
.navDesktop{
    width:7%;
    height: 30%;
    position:fixed;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    z-index:10;
    right: 0%;
    opacity:0.9;
    top: 55%;
    font-size: 0.85em;
    border-left: 1px solid rgba(97, 96, 96, 0.479);
    transition: .4s cubic-bezier(0.215, 0.610, 0.355, 1) all;
    
}
ul,li{
    list-style-type:none;
}
.navDesktop__item--circle{
width: 20px;
height:20px;
border-radius: 50%;
background-color: white;
position: relative;
    left: -7px;
    z-index:20;
    border:1px solid rgba(53, 53, 53, 0.178);
    box-shadow: -3px 2px 10px rgba(116, 116, 116, 0.425);
    transition: cubic-bezier(0.86, 0, 0.07, 1) 0.4s all;
}
li > a{
    position:relative;
    list-style-type:none;
    text-decoration: none;
}
.navDesktop:hover{
    opacity: 1;
}
.navDesktop__item > a:focus  { 
    background-color: yellow;
    opacity: 1;
}
.navDesktop__item--link{
width: 85%;
height: 100%;
}
.navDesktop__item{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
    margin-left: -47%;
    color: white;
    cursor: pointer;
}
.header{
    width: 100vw;
    height:100vh;
    box-sizing: border-box;
}
/* NAVBAR FOR MOBILES */
.nav{
    position:fixed;
    width: 250px;
    height: 50vh;
    background: rgba(0, 0, 0, 0.664);
    right: -400px;
    float: right;
    transition: right 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    color: white;
    font-size:0.8em;
    


}
.nav__block{
    width: 100%;
    height: calc(100% / 6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s all cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;
}
.nav__block:hover{
    background-color: rgba(0, 0, 0, 0.438);
    box-shadow: 0px 5px 10px rgba(41, 41, 41, 0.869);
}
.hamburger__icon{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0px;
    right: 0px;
    background: url("./img/hamburger.png");
    background-size:contain;
    cursor: pointer;
    transition: right 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 100;
    
}
.close{
    background: url("./img/close.png");
    background-size:contain;
    width: 50px;
    height: 50px;
}
.nav__icon--aboutme{
    background: url("./img/about-me.png");
    background-size: 90% 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height:100%;
}
.nav__icon--skills{
    background: url("./img/ideaspng.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height:100%;
}
.nav__icon--websites{
    background: url("./img/witrynypng.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height:80%;
}
.nav__icon--apps{
    background: url("./img/aplikacjepng.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height:80%;
}
.nav__icon--contact{
    background: url("./img/kontaktpng.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height:80%;
}
.nav--name{
    width: 60%;
    height:25%;
    text-align: center;
}

/* WELCOME SCREEN */
.ws{
    box-sizing: border-box;
    
    /* top: 5vw; */
    width: 100%;
    right:3%;
    height: 70vh;
    

    -webkit-box-shadow: inset -5px 48px 90px 27px rgba(0,0,0,0.147);
-moz-box-shadow: inset -5px 48px 90px 27px rgba(0,0,00.147);
box-shadow: inset -5px 48px 90px 27px rgba(0, 0, 0, 0.147);
background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
}
.ws__header{
    font-family: 'Press Start 2P', cursive;
    position:relative;
    width: 90%;
    height: 50%;
    top: 19%;
    left: -20%;
    font-size:3em;
    color: white;
    /* text-align: center; */
    line-height:1.5em;
    text-shadow: 0px 3px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ws__header--blink{
    position: absolute;
    width: 5%;
    height:70%;
    background-color: white;
    right: 5%;
    top: 0;
    animation: blink;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    
}
.ws__header--text{
    height: 80%;
    width: 50%;
    text-align:center;
    animation: fadeOff;
    animation-duration: 1.5s;
    /* animation-delay: .5s; */
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
}
@keyframes fadeOff{
    from{opacity: 1 }
    to{ opacity: 0 }
}
@keyframes blink{
    from{opacity: 1 }
    to{ opacity: 0 }
}
.ws--welcomeShadow{
    width: 101%;
    left: -1%;
    top: 55%;
    height: 25vh;
    z-index: 5;
    border-right: 2px solid white;
    overflow: hidden;
    position: absolute;
    background-color: white;
    transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
-webkit-transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
-moz-transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
-o-transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
-ms-transform: rotate(174.7deg) scale(1) skew(-5deg) translate(0px);
box-shadow: -8px 20px 30px rgba(216, 216, 216, 0.39);
}
.welcome__shadow:after{
    content:"";
    position:absolute;
    top:0;
    right:99%;
    width:2%;
    background-color: white;
    height:100%;

}
/* ABOUT ME */
.am{
    width: 85%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-basis: row;
    justify-content: space-around;
   
}
.am--img{
    width: 30%;
    height:90%;
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    box-shadow: 2px 5px 20px rgba(109, 109, 109, 0.637);
}
.am--img:after{

}
.am__desc{
    top:20%;
    position:relative;
    width: 65%;
    height: 60%;
    border: 1px solid #9fa8a3;
    box-shadow: 2px 5px 20px rgba(109, 109, 109, 0.253);
    
}
.am__desc--line1{
    display:inline-block;
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
    left: 30%;
    position:relative;
    background-color: white;
    z-index:3;
    top:-50px;
    padding:30px;
    text-align: center;
    
}
/* SEKCJA WITRYN */
.web{
    
    width: 85%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display:flex;
    z-index:2;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    -webkit-clip-path: polygon(2% 0, 100% 0, 100% 100%, 15% 100%);
    clip-path: polygon(2% 0, 200% 0, 100% 100%, 15% 100%);

}
.web:after{
    content: "";
    box-shadow: 2px 5px 20px rgba(109, 109, 109, 0.253);
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 10px;
    width: 98%;
    height: 98vh;
    -webkit-clip-path: polygon(2% 0, 100% 0, 100% 100%, 15% 100%);
    clip-path: polygon(2% 0, 200% 0, 100% 100%, 15% 100%);
    background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.web__header,.app__header,.skills__header,.contact__header{
        top:40%;
        position:relative;
        width: 65%;
        height: 60%;
        
        
}
.web__header--span{
    display: inline-block;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    left: 56%;
    position: relative;
    background-color: white;
    z-index: 3;
    top: 55px;
    padding: 30px;
    text-align: center;
}
.app__header--span,.skills__header--span,.contact__header--span{
    display: inline-block;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    left:56%;
    position: relative;
    background-color: white;
    z-index: 3;
    top: 25px;
    padding: 20px;
    text-align: center;
}
.contact__header--span{
    top: 105px;
}
.web__website{
    width: 30%;
    height: 35%;
    
    background-color: white;
    position: relative;
    
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 10px 10px 15px rgba(51, 51, 51, 0.726);
    cursor: pointer;
    }
    .web__website--desc{
        width: 70%;
        height: 20%;
        background-color: white;
        position:relative;
        top: 101%;
        left: 15%;
        box-shadow: 10px 10px 25px rgba(51, 51, 51, 0.726)
        
    }
    .web__website--links{
        width: 70%;
        height: 10%;
        background-color: white;
        position:relative;
        top:101%;
        left: 15%;
        border: 1px solid #9fa8a3;
        box-shadow: 10px 10px 25px rgba(51, 51, 51, 0.726);
    }
    .duzaStrona{
        transform: rotateY(0deg)!important;
        width: 90%!important;
    height: 40%!important;
    
    }
    .malaStrona{
        width: 12%;
    height: 50%;
    margin-left: 12%;
    margin-right: 3%;
    background-color: white;
    position: relative;
    transform: rotateY(45deg);
    top:15%;
    }
    .duzaApka{
        transform: rotateY(0deg)!important;
        width: 80%!important;
    height: 30%!important;
    }
    .malaApka{
        width: 12%!important;
        height: 50%!important;
        margin-left: 12%!important;
        margin-right: 3%!important;
        background-color: white;
        position: relative;
        transform: rotateY(45deg);
        top:15%;
    }
.web__website--1{
    background:url("./img/kasia-salon.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;  
    left: 10%;
}
.web__website--2{
    background:url("./img/maliwojownicy.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 40%;
}
.web__website--3{
    background:url("./img/lapkoczyn.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 70%;
}
/* SEKCJA APEK */
.app{
    width: 85%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display:flex;
    z-index:2;
    flex-direction: row;
    justify-content: right;
    border: 2px solid white;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);


-webkit-perspective: 300px;
       -moz-perspective: 300px;
    }
.app:after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 6%;
    width: 93%;
    height: 96vh;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #757f9a, #d7dde8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #757f9a, #d7dde8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
.app__application{
    width: 10%;
    height: 50%;
    margin-left: 11%;
    margin-right: 4%;
    background-color: white;
    position: relative;
    transform: rotateY(95deg);
    top:15%;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 10px 10px 15px rgba(51, 51, 51, 0.726);
    cursor: pointer;
}
.app__application--app1{
    background:url("./img/pogodaimg.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;  
    z-index:20;
}
.app__application--app2{
    background:url("./img/calendarimg.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;  
}
.app__application--app3{
    background:url("./img/editorimg.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;  
}
.app__application--app4{
    background:url("./img/muzykaimg.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;  
}
/* Sekcja Skilli */
.skills{
    margin-left:5%;
    width: 79%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    background-color: #9fa8a3;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





    
}
.skills__row{
width: 70%;
height: 20%;
border: 1px solid rgba(99, 99, 99, 0.555);
background-color: white;
box-shadow: 10px 10px 15px rgba(51, 51, 51, 0.726);
display:
}
.skills__row--header{
position:relative;
}
.skills__row--header > span {
    position:relative;
    background-color: white;
    padding: 20px;
    left: 10%;
}

.skills__row__good__icon{
    float: left;
width: calc(100% / 6);
margin-left: 2.5%;
height: 80%;
border:1px solid black;
}
.skills__row__good__icon--js{
background: url("./img/javascript-icon.png")
}



/* Sekcja kontaktu */
.contact{
    margin-top: 5%;
    width: 85%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.contact:after{
    width: 63%;
    margin-left:13%;
    height: 100%;
    content:"";
    position:absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}
.contact__form{
    position:relative;
    z-index:10;
    left: 17%;
    width: 70%;
    height: 50%;
    
    top:2vh;
    

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form > p{
    width: 40%;
    position:relative;
    left:30%;
    color:white;
}
.contact__form--email{
width: 40%;
position:relative;
left:30%;
border-bottom:2px solid rgba(255, 255, 255, 0.205);
border-top: 0;
border-left: 0;
border-right: 0;
background-color: transparent;

}
.contact__form--email{
    width: 40%;
    font-size:1rem;
    position:relative;
    left:30%;
    border-bottom:2px solid rgba(255, 255, 255, 0.205);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    transition: .2s ease-in all;
    color: white;
}
.contact__form--email:focus { 
   
    background-color: rgba(255, 255, 255, 0.384);
}
.contact__form--textarea{
    width: 40%;
    height: 100px;
    font-size:1.5rem;
    position:relative;
    left:30%;
    border-bottom:2px solid rgba(255, 255, 255, 0.205);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    transition: .2s ease-in all;
    font-size:0.8rem;
    color:white;
}
.contact__form--textarea:focus { 
   
    background-color: rgba(255, 255, 255, 0.384);
}
.contact__form--submit{
    width: 20%;
    font-size:1rem;
    padding:10px;
    position:relative;
    left:40%;
    border:2px solid rgba(255, 255, 255, 0.205);
    /* border-top: 0;
    border-left: 0;
    border-right: 0; */
    background-color: transparent;
    transition: .2s ease-in all;
    cursor: pointer;
    top: 20px;
    font-family: 'Press Start 2P', cursive;
    color:white;
}
.contact__links{
    position:relative;
    z-index:10;
    left: 17%;
    width: 70%;
    height: 20%;
    
   
    display:flex;
    flex-direction: row;
    justify-content: center;
    

}
.contact__links--github{
width:30%;
height:100%;
text-align: center;

}
.contact__links--github > a{
    color: white;
    text-decoration: none;
    font-size:2rem;
}
.contact__links--email > a{
    color: white;
    text-decoration: none;
    line-height: 2em;
}
.contact__links--email{
    width:70%;
    height:100%;
    text-align: center;
    
    }

@media screen and (min-width: 750px){
    .hamburger__icon{
        display: none;
        
    }
    .nav{
        display:none;
    }
    
    .cube {
        width: 20%;
        text-align: center;
        
        height: 300px;
    
        -webkit-transition: -webkit-transform .63s;
        transition: transform .63s; /* Animate the transform properties */
    
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d; /* <-NB */
        animation: animateCube;
        /* animation-direction: alternate; */
        animation-duration: 4s;
        animation-delay: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(1, 0, 0, 1)
    }
    
   
    
    
    

}